[submodule "libraries/osal"]
	path = libraries/osal
	url = git@github.com:dogukanarat/osal.git
[submodule "libraries/danp"]
	path = libraries/danp
	url = git@github.com:dogukanarat/danp.git
[submodule "libraries/danp_ftp"]
	path = libraries/danp_ftp
	url = git@github.com:dogukanarat/danp_ftp.git
[submodule "libraries/zephyr_radio"]
	path = libraries/zephyr_radio
	url = git@github.com:dogukanarat/zephyr_radio.git
[submodule "libraries/zephyr_tmtc"]
	path = libraries/zephyr_tmtc
	url = git@github.com:dogukanarat/zephyr_tmtc.git
