[submodule "libraries/osal"]
	path = libraries/osal
	url = git@github.com:dogukanarat/osal.git
[submodule "libraries/danp"]
	path = libraries/danp
	url = git@github.com:dogukanarat/danp.git
[submodule "libraries/zephyr-radio"]
	path = libraries/zephyr-radio
	url = https://github.com/dogukanarat/zephyr-radio
